body
    background url('/public/img/hexellence.png')

.panel
    background url('/public/img/halftone.png')

.row h4
    font-family 'Comfortaa', cursive

.row h5
   font-family 'Questrial', sans-serif
   font-size 1.2em
   text-align center

#banner
    p
        font-family 'Questrial', sans-serif
        font-size 1.1em

    .promo
        span
            font-family 'raleway', sans-serif
            font-size: 1.5em

        div
            font-family 'Questrial', sans-serif
            font-size 1em
            margin-top 10px

    #contact-us
        min-width 316px

        .fa-stack
            margin-left -3px

        div
            position relative

        .info
            position absolute
            margin-top 10px
            margin-left 4px

        a
            color #BBAC00

#pricing
    .sills
        float right
        margin-top -6px

    .standard-package
        background #f2f2f2
    .deluxe-package
        background #fff477
    .absurd-package
        background #FFEA00
    .premium-package
        background #fff9b8

    .small-6
        .description
            font-family 'Questrial', sans-serif
            font-size .95em

    .small-block-grid-4
        .title
            color black

        .description
            font-family 'Questrial', sans-serif
            font-size 1em

    .pricing-table
        min-width 210px

        div
            margin-top 10px

    .fa-star
        color #E4D200

    #business-level
        .cta-button
            padding-top 214px
        .description
            border-bottom none

    .title, .bullet-item
        font-family 'raleway', sans-serif

    .bullet-item
        text-align left

    .description
        height 130px

    .price
        position relative

        .starting-price
            font-family 'Open Sans Condensed', sans-serif
            position absolute
            font-size .5em
            bottom 20px

    .button
        font-family 'Questrial', sans-serif

        span
            color #000

#services
    .title
        color #000
        font-family 'raleway', sans-serif
    .description
        min-height 141px
        font-size 1em
        font-family 'Questrial', sans-serif

    .standard-package
        background #f2f2f2
    .deluxe-package
        background #fff477
    .absurd-package
        background #FFEA00
    .premium-package
        background #fff9b8


#get-in-touch
    span
        font-family 'Questrial', sans-serif

    a
        font-family 'Open Sans Condensed', sans-serif
        color #bbac00
