.contain-to-grid#header: nav.top-bar
    ul.title-area
        li.name
            h1: a(href="#") Beez Window Detailing

    section.top-bar-section
        ul.right
            li.active: a(href="#pricing")
                i.fa.fa-money
                |  Pricing
            li.divider
            li.active: a(href="#services")
                i.fa.fa-bolt
                |  Services
            li.divider
            li.active: a(href="mailto:services@beezhd.com")
                i.fa.fa-envelope
                |  Contact us
